<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connections</title>
    <link rel="stylesheet" href="../static/connection.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <a href="{{ url_for('main_feed') }}"><i class="fa-solid fa-left-long"></i></a> <h1>My Connections</h1>
    <div class="main">
        <ul>
            <li><h3>Harshwardhan Kale</h3></li>
            <li><h3>Omkar Kale</h3></li>
            <li><h3>Satvik Gaikwad</h3></li>

        </ul>
    </div>
</body>
</html>