<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="../static/helpdisk.css">
</head>

<body>
  <h4 class="font-weight-bold py-3 mb-4">
    <a href="{{ url_for('main_feed') }}"><i class="fa-solid fa-left-long"></i></a> MAIN FEED
  </h4>
  <center>
    <h1>COEP HELPDESK</h1>
  </center>
  <main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Coep Account Section</h2>
        <p class="copy">Postal Address:

          College of Engg. Pune,
          Wellesely Rd,
          Shivajinagar,
          Pune-411 005.
          Maharashtra, INDIA.
          
           
          
           Telephone:
          
           +91-20-25507000</p>
        <!-- <button class="btn">View Trips</button> -->
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Coep Dean</h2>
        <p class="copy">Postal Address:

          College of Engg. Pune,
          Wellesely Rd,
          Shivajinagar,
          Pune-411 005.
          Maharashtra, INDIA.
          
           
          
           Telephone:
          
           +91-20-25507000</p>
        <!-- <button class="btn">View Trips</button> -->
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Coep Campus Ambassadur</h2>
        <p class="copy">Postal Address:

          College of Engg. Pune,
          Wellesely Rd,
          Shivajinagar,
          Pune-411 005.
          Maharashtra, INDIA.
          
           
          
           Telephone:
          
           +91-20-25507000</p>
        <!-- <button class="btn">Book Now</button> -->
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">General Secretary</h2>
        <p class="copy">Postal Address:

          College of Engg. Pune,
          Wellesely Rd,
          Shivajinagar,
          Pune-411 005.
          Maharashtra, INDIA.
          
           
          
           Telephone:
          
           +91-20-25507000</p>
        <!-- <button class="btn">Book Now</button> -->
      </div>
    </div>
  </main>

</body>

</html>